<h1 class="mat-display-3">Register Form </h1>

<form class="example-form" [formGroup]="registrationForm" #ngForm="ngForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput placeholder="UserName" formControlName="userName" required="">

  </mat-form-field>
  <div *ngIf="name?.invalid && name?.touched" style="color: red;">
    <small *ngIf="name?.errors?.['required']">Username is required</small>
  </div>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" required="">
  </mat-form-field>
  <div *ngIf="email?.invalid && email?.touched" style="color: red;">
    <small *ngIf="email?.errors?.['required']">Email is required</small>
    <small *ngIf="email?.errors?.['pattern']">Email is invalid</small>
  </div>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" formControlName="password"
      [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <div *ngIf="password?.invalid && password?.touched" style="color: red;">
    <small *ngIf="password?.errors?.['minlength']">Password should have at least 5 characters</small>
    <small *ngIf="password?.errors?.['maxlength']">Password must not be over 8 characters</small>
    <small *ngIf="password?.errors?.['required']">Password is required</small>
    <small *ngIf="password?.errors?.['pattern']">
      (must include 1 capital, 1 small, 1 number, 1 symbol)
    </small>

  </div>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword"
      [type]="hide ? 'password' : 'text'" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched" style="color: red;">
    <small *ngIf="confirmPassword?.errors?.['required']">Confrim Password is required</small>
    <small *ngIf="confirmPassword?.errors?.['MustMatch']">Password does not match</small>
  </div>


  <mat-label class="hobbyLbl">Gender</mat-label><br>
  <mat-radio-group aria-label="Select an option" formControlName="gender"
    [ngClass]="{'invalid':ngForm.submitted && registrationForm.get('gender')?.invalid}">

    <mat-radio-button value="male">Male</mat-radio-button>
    <mat-radio-button value="female">Female</mat-radio-button>
  </mat-radio-group>
  <div *ngIf="ngForm.submitted && registrationForm.get('gender')?.invalid" style="color: red;">
    Gender is required
  </div>
  <br>


  <h4>Team</h4>
  <mat-form-field appearance="fill">
    <!-- <mat-label>Team</mat-label> -->
    <mat-select formControlName="team" required>

      <mat-option [value]="'WordPress'">
        WordPress
      </mat-option>
      <mat-option [value]="'Java'">
        Java
      </mat-option>
      <mat-option [value]="'PHP'">
        PHP
      </mat-option>
      <mat-option [value]="'NodeJS'">
        NodeJS
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="team?.invalid && team?.touched" style="color: red;">
    <small *ngIf="team?.errors?.['required']">Team is required</small>
  </div>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dob" required>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div *ngIf="dob?.invalid && dob?.touched" style="color: red;">
    <small *ngIf="dob?.errors?.['required']">Date of Birth is required</small>
  </div>
  <br><br>


  <mat-label class="hobbyLbl">Hobby</mat-label>
  <section class="example-section" formControlName="hobby" required>

    <mat-checkbox class="example-margin" name="Hobby" formControlName="hobby" required>Swimming</mat-checkbox>
    <mat-checkbox class="example-margin" name="Hobby" formControlName="hobby" required>Reading</mat-checkbox>
    <mat-checkbox class="example-margin" name="Hobby" formControlName="hobby" required>Cooking</mat-checkbox>
  </section>
  <div *ngIf="hobby?.invalid && hobby?.touched" style="color: red;">
    <small *ngIf="hobby?.errors?.['required']">Hobby is required</small>
  </div>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput rows="8" cols="18" #des (keyup)="checkWord(des.value)"></textarea>
  </mat-form-field>
  <div style="color: red;">
    <small *ngIf="wordError">Word not over 1500</small>
  </div>

  <button mat-raised-button color="warn" style="margin-right: 10px;">Reset</button>
  <button mat-raised-button color="primary" [disabled]="registrationForm.invalid">Register</button>
</form>