<div class="container">
    <ng-container [formGroup]="form">
  
      <div class="form-group" formGroupName="myCheckboxGroup">
        <div class="label">Check at least one checkbox <span class="highlight">*</span></div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" formControlName="myCheckbox1" id="myCheckbox1">
          <label class="custom-control-label" for="myCheckbox1">Happy</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" formControlName="myCheckbox2" id="myCheckbox2">
          <label class="custom-control-label" for="myCheckbox2">Grouped</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" formControlName="myCheckbox3" id="myCheckbox3">
          <label class="custom-control-label" for="myCheckbox3">Checkboxes</label>
        </div>
  
        <div class="invalid-feedback" *ngIf="form.controls['myCheckboxGroup'].errors && form.controls['myCheckboxGroup'].errors['requireOneCheckboxToBeChecked']">At least one checkbox is required to check</div>
      </div>
  
      <!-- ...more form controls... -->
    </ng-container>
  
    <!-- TODO: This form is very static. Of course you could create it dynamically by using creating an additional array that holds the the form-data(key of FormControl, label, required, etc.) and create the template automatically by use of *ngFor -->
  </div>