<mat-toolbar color="accent" [ngStyle]="{display:showNav}">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>CRUD form </h1>

  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container [ngStyle]="{display:showNav}">
  <mat-sidenav #sidenav opened="true" mode="side" >
    <mat-nav-list>
      <a routerLink="/register" mat-list-item>Register</a>
      <a routerLink="/users" mat-list-item>User List</a>
      <a mat-list-item routerLink="/logout" (click)="Logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height:88vh;">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
<div [ngStyle]="{display:hideLogin}">

<form class="loginForm" [formGroup]="loginForm">
  <h1>Login</h1>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" required="" formgroupnam>
  </mat-form-field>
  <div *ngIf="email?.invalid && email?.touched" style="color: red;">
    <small *ngIf="email?.errors?.['required']" >Email is required</small>
    <small *ngIf="email?.errors?.['pattern']" >Email is invalid</small>
  </div>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" formControlName="password">
  </mat-form-field>
  <div *ngIf="password?.invalid && password?.touched" style="color: red;">
    <small *ngIf="password?.errors?.['required']" >Password is required</small>

  </div>
  <button mat-raised-button color="primary" (click)="Login(loginForm.value)" type="button" >Login</button><br>
  </form>
<a color="primary" routerLink="/register" (click)="Register()">Register here</a>
</div>
